/*!*************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/components/Services/ServiceMobileCarousel/Carousel.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************/
.Carousel_embla__HAbXx {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .Carousel_emblaViewport__6hgmz {
    overflow: hidden;
    width: 100%;
  }
  
  .Carousel_emblaContainer__q8Iiu {
    display: flex;
    transition: transform 0.1s ease-in-out;
  }
  
  .Carousel_emblaSlide__iWeLL {
    position: relative;
    flex: 0 0 100%; /* One item per screen */
    padding: 0 10px;
  }
  
  .Carousel_emblaSlideImg__eE2lk {
    width: 100%;
    height: 620px;
    border-radius: 1rem;
    -o-object-fit: cover;
       object-fit: cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9))
  }
  
  .Carousel_emblaButton__MQZwz {
    position: absolute;
    top: 50%;
    z-index: 10;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    border: none;
    /* border-radius: 50%; */
    width: 7rem;
    height: 2.5rem;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    cursor: pointer;
  }

  
  .Carousel_emblaButtonPrev__KvZh_ {
    left: 10px;
  }
  
  .Carousel_emblaButtonNext__axpiK {
    right: 10px;
  }
  
  .Carousel_imageName__RO_Ao {
    position: absolute;
    width: 70%;
    top: 30px;
    left: 30px;
    z-index: 10; /* Ensure it appears above the image */
  }
  .Carousel_imageContent__9wNrL {
    width: 80%;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 10; /* Ensure it appears above the image */
  }

/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./app/services/embla.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.embla {
  max-width: 100vw;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  position: relative;
}
.embla__viewport {
  overflow: hidden;
  width: 100%;
}
.embla__container {
  display: flex;
  align-items: center;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.embla__controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none; /* Allows clicks on buttons while ignoring container */
  transform: translateY(-50%);
}

.embla__buttons {
  /* display: grid; */
  display: flex;
  color: white;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  /* background-color: rgba(0, 0, 0, 0.5); */
  border: none;
  color: white;
  /* padding: 10px; */
  border-radius: 50%;
  cursor: pointer; /* Enables clicks */
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); */
  pointer-events: auto; /* Enable pointer events for buttons */
}

.embla__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.embla__button--prev {
  position: absolute;
  left: 1rem; /* Adjust horizontal distance from left edge */
}

.embla__button--next {
  position: absolute;
  right: 1rem; /* Adjust horizontal distance from right edge */
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__lazy-load {
  position: relative;
  height: 100%;
}
.embla__lazy-load__spinner {
  border: 0.4rem solid rgba(var(--text-high-contrast-rgb-value), 0.2);
  border-left: 0.4rem solid var(--text-high-contrast);
  font-size: 1rem;
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-indent: -9999em;
  animation: loading 1.1s infinite linear;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.embla__lazy-load__spinner:after {
  border-radius: inherit;
  width: 5rem;
  height: 5rem;
}
.embla__lazy-load__img {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.embla__lazy-load--has-loaded .embla__lazy-load__img {
  opacity: 1;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/services/page.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.page_zoom-effect__LfgnP {
  overflow: hidden;
  position: relative;
}

.page_zoom-image__SYHg9 {
  transition: transform 0.5s ease-in-out;
}

.page_zoom-effect__LfgnP:hover .page_zoom-image__SYHg9,
.page_zoom-effect__LfgnP .page_zoom-image__SYHg9 {
  transform: scale(1.05); /* Slight enlargement */
}

